page-payment {
    .font-awesome {
        padding-left: 1em;
        padding-bottom: 1em;
        text-align: center;
        color: #ff3e00;
        opacity: 0.9;
    }

    i {
        padding: 0 0.5em;
        padding-bottom: 0.5em;
    }

    .notification {
        font-size: 0.8em;
        opacity: 0.7;
    }
}